body{
    background-color: rgb(247, 247, 229);
    padding: 0;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu2{
    display: none;
}

.dropdown2:hover .dropdown-menu2 {
    display: block;
}

/* Remove the caret icon since we're not using a toggle button */
.dropdown-toggle2::after {
    display: none;
}
.dropdown-toggle::after {
    display: none;
}

.main-content {
    padding: 10px 10vw;
}

.navhover:hover {
    background-color: rgb(1, 180, 229);
}

.navbar {
    padding: 0;
    background-color: rgb(2, 208, 226);
}

.navhover {
    padding: 15px 15px;
}

.navbar-brand {
    margin: auto;
}

.active{
    background-color: rgb(1, 180, 229);
}